@model List<Note>

@{
    ViewData["Title"] = "My notes";
}
<!--hago uso de la lista que envié a traves del controlador-->
<h1>My notes</h1>
<br>
<p><a class="btn btn-primary" asp-action="Create">Create New</a></p>
<br>
@using (Html.BeginForm())
{
    <p>
        Find by Title: @Html.TextBox("SearchString")  
        <input class="btn btn-primary" type="submit" value="Search" /></p>
}
<br>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a>@Html.ActionLink("Title", "Index", new { orden = 1 })</a>
                </th>
                <th>
                    <a>@Html.ActionLink("Description", "Index", new { orden = 2 })</a>
                </th>
                <th>
                    <a>@Html.ActionLink("Date", "Index", new { orden = 3 })</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                if(note.Active){
                    <tr>
                        <td>@Html.DisplayFor(n=>note.Title)</td>
                        <td>@Html.DisplayFor(n=>note.Body)</td>
                        <td>@note.Date.ToShortDateString()</td>
                        <td>@Html.ActionLink("Details", "Details", new { Id = note.Id })  @Html.ActionLink("Edit", "Edit", new { Id = note.Id })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>